$primary: #E96C70;
$primary-accent: #FAFAFA;
$secondary: #313131;
$secondary-accent: #575757;
$disabled: #C1C1C1;
$twitter: #1DA1F2;
$facebook: #4267B2;
$hover: rgba(255, 255, 255, 0.1);
$box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);

$border-radius: 16px;
$min-component-size: 36px;
$padding: 10px;
$margin: 10px;
$font-size: 16px;
