@use './variables' as *;

.card {
  display: grid;
  gap: 10px;
  border-radius: $border-radius;
  background-color: $secondary;
  color: $primary-accent;
  padding: $padding;
  box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 50%);

  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &.horizontal {
    grid-auto-columns: min-content;
    grid-auto-flow: column;
  }

  &.vertical {
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }
}
