@use './variables' as *;
@use './mixins' as *;

.checkbox {
  @include hover();

  position: relative;
  width: $min-component-size;
  height: $min-component-size;
  background-color: $secondary-accent;
  border-radius: $border-radius;
  cursor: pointer;
  overflow: hidden;

  .check {
    @include absolute(4px);
    @include transition(transform, border-radius);

    background-color: $primary-accent;
    border-radius: inherit;
    transform: scale(0);
  }

  &.indeterminate .check {
    transform: scale(1, 0.5);
    border-radius: 10px;
  }

  &.checked .check {
    transform: scale(1);
  }

  &.disabled {
    @include disabled();
  }
}
