@use './variables' as *;
@use './mixins' as *;

@mixin checkbox($color, $background-color, $disabled-color) {
  background-color: $background-color;

  .check {
    background-color: $color;
  }

  &.disabled {
    @include disabled($color, $disabled-color);
  }
}

.checkbox {
  @include hover();

  position: relative;
  width: $min-component-size;
  height: $min-component-size;
  border-radius: $border-radius;
  cursor: pointer;
  overflow: hidden;

  &.secondary {
    @include checkbox($primary-accent, $secondary, $disabled);
  }

  &.primary,
  &.primary-accent,
  &.secondary-accent,
  &.twitter,
  &.facebook {
    @include checkbox($primary-accent, $secondary-accent, $disabled);
  }

  .check {
    @include absolute(4px);
    @include transition(transform, border-radius);

    border-radius: inherit;
    transform: scale(0);
  }

  &.indeterminate .check {
    transform: scale(1, 0.5);
    border-radius: 10px;
  }

  &.checked .check {
    transform: scale(1);
  }
}
