@use './variables' as *;
@use './mixins' as *;

@mixin dropdown($color) {
  .list {
    background-color: $color;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: $font-family;

  &.left .list {
    left: 0;
  }

  &.right .list {
    right: 0;
  }

  &.primary,
  &.primary-transparent {
    @include dropdown($primary);
  }

  &.primary-accent {
    @include dropdown($primary-accent);
  }

  &.secondary,
  &.secondary-transparent {
    @include dropdown($secondary);
  }

  &.secondary-accent {
    @include dropdown($secondary-accent);
  }

  &.twitter {
    @include dropdown($twitter);
  }

  &.facebook {
    @include dropdown($facebook);
  }

  .list {
    @include transition(transform, opacity);

    position: absolute;
    top: calc(100% + #{$margin});
    overflow: hidden;
    min-width: 200px;

    background: $primary;
    color: $primary-accent;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    transform: translateY(-$margin);
    opacity: 0;

    > * {
      padding: $padding;
    }
  }

  &:not(.visible) .list {
    pointer-events: none;
  }

  &.visible .list {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdownItem {
  color: inherit;
  text-decoration: none;
  position: relative;

  &.clickable {
    @include hover();

    cursor: pointer;
  }
}
