@use './variables' as *;
@use './mixins' as *;

@mixin input($color, $background-color, $disabled-color) {
  background-color: $background-color;
  color: $color;

  input::placeholder {
    color: $disabled-color;
    text-shadow: 1px 1px $secondary;
  }

  &.disabled {
    background-color: $disabled-color;

    input::placeholder {
      color: $color;
    }
  }
}

.input {
  @include hover();

  position: relative;
  min-width: 150px;
  overflow: hidden;

  border-radius: $border-radius;
  height: $min-component-size;

  &.secondary {
    @include input($primary-accent, $secondary, $disabled);
  }

  &.primary,
  &.primary-accent,
  &.secondary-accent,
  &.twitter,
  &.facebook {
    @include input($primary-accent, $secondary-accent, $disabled);
  }

  &.disabled {
    cursor: not-allowed;

    input {
      pointer-events: none;
    }
  }

  input {
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    height: $min-component-size;
    width: 100%;
    color: inherit;
    font-size: $font-size;

    padding: 0 $border-radius;
  }
}
