@use 'sass:math';
@use './variables' as *;

@mixin separator($color) {
  background-color: $color;
}

.separator {
  width: 100%;

  &:not(.thin) {
    height: math.div($min-component-size, 2);
    border-radius: math.div($min-component-size, 4);
  }

  &.thin {
    height: math.div($min-component-size, 3);
    border-radius: math.div($min-component-size, 6);
  }

  &.primary,
  &.primary-transparent {
    @include separator($primary);
  }

  &.primary-accent {
    @include separator($primary-accent);
  }

  &.secondary,
  &.secondary-transparent {
    @include separator($secondary);
  }

  &.secondary-accent {
    @include separator($secondary-accent);
  }

  &.twitter {
    @include separator($twitter);
  }

  &.facebook {
    @include separator($facebook);
  }
}
