@use './variables.scss' as *;
@use './mixins.scss' as *;

@mixin spinner($color) {
  &:after {
    border: 4px solid $color;
    border-color: $color transparent $color transparent;
  }
}

.spinner {
  @include loading(true);

  &.fit {
    @include absolute();
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
  }

  &.primary,
  &.primary-transparent {
    @include spinner($primary);
  }

  &.primary-accent {
    @include spinner($primary-accent);
  }

  &.secondary,
  &.secondary-transparent {
    @include spinner($secondary);
  }

  &.secondary-accent {
    @include spinner($secondary-accent);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
