@use './variables' as *;

@mixin toast($color, $backgroundColor) {
  > .toast {
    color: $color;
    background-color: $backgroundColor;
  }
}

.toasts {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $margin;

  > .toast {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0 $padding;
    height: $min-component-size;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &.primary,
  &.primary-transparent {
    @include toast($primary-accent, $primary);
  }

  &.primary-accent {
    @include toast($primary, $primary-accent);
  }

  &.secondary,
  &.secondary-transparent {
    @include toast($primary-accent, $secondary);
  }

  &.secondary-accent {
    @include toast($primary-accent, $secondary-accent);
  }

  &.twitter {
    @include toast($primary-accent, $twitter);
  }

  &.facebook {
    @include toast($primary-accent, $facebook);
  }
}
